html {
    /*text-align: center;*/
}

body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    width: 100%;

}

.whole {
    background-color: #f0f0f0;
    width: 100%;
    height: 0;
    padding-bottom: 150%;
}

header {
    background-color: #29bde0;
    width: 100%;
    height: 10vw;
}

.home-page-menu {
    width: 4vw;
    height: 4vw;
    margin-top: 3vw;
    margin-left: 3vw;
}

.my-main-con1 {
    /*border: solid;*/
    width: 91%;
    margin-top: 4vw;
}

.my-main-col1-center {
    display: table;
    text-align: center;
}

.my-main-col1-center span {
    font-size: 4vw;
    display: table-cell;
    vertical-align: middle;
    color: #b3b3b3;
}

.my-main-row1 {
    background-color: #ffffff;
}

.my-main-row1 div {
    /*border: solid;*/
    padding-left: 0;
    padding-right: 0;
    height: 14vw;
}

.my-main-col1-right {
    /*display: table;*/
    text-align: center;
}

.my-main-col1-right img {
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    width: 3vw;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.game-list {
    width: 91%;
    margin-top: 4vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #ffffff;
}

.game-title {
}

.game-title span {
    border-bottom: 1px solid;
    font-size: 4.2vw;
    color: #fbb435;

    line-height: 13vw;
    height: 13vw;
    display: block;
}

.home-page-game-con {
    /*border:solid;*/
    width: 100%;
}

.home-page-game-row {
    /*border: solid;*/
    margin-bottom: 2vw;
}

.home-page-game-row div {
    padding-left: 0;
    padding-right: 0;
}

.home-page-game-col-list {
    padding-left: 0;
    padding-right: 0;
    margin-top: 1.5vw;
}

.home-page-game-col-list span {
    display: block;
    font-size: 3vw;
    margin-top: 3vw;
    color: #787878;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.home-page-game-col-list button {
    display: block;
    width: 72vw;
    height: 20vw;
    margin: 0 auto;
    font-size: 3.5vw;
    margin-top: 3vw;
    background-color: #69d1e9;
    border: none;
    color: #ffffff;

}

.home-page-game-col-right {
    height: 89vw;
}

.home-page-game-col-right img {
    width: 3vw;
    height: 6vw;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

ul {
    margin: 0;
    padding: 0;
}

.circle {
    /*border:solid;*/
    display: inline-block;
}

.circle li {
    list-style: none;
    float: left;
    margin-left: 1vw;
}

.circle1 {
    line-height: 2vw;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-color: #69d1e9;
}

.circle2 {
    line-height: 2vw;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-color: #f0f0f0;
}
/* 投票页的css */
.vote-whole{

}
.vote-menu{
    border:solid;
    background: url(images/vote_icon.png) no-repeat;
    background-position: -1px -119px;
    width: 39px;
    height:40px;
    background-size: 47px 212px;
    /*background-size: 70% 70%;*/
}